<form action="">
  <em>Click Action:</em><br/>
  <label><input (click)="clickAction='drawMarker'" type="radio" checked=true name="clickAction" value="drawMarker"> Draw Marker</label>&nbsp;&nbsp;&nbsp;&nbsp;
  <label><input (click)="clickAction='drawHeatmap'" type="radio" name="clickAction" value="drawHeatmap"> Draw Heatmap</label>&nbsp;&nbsp;&nbsp;&nbsp;
  <label><input (click)="clickAction='setCenter'" type="radio" name="clickAction" value="setCenter"> Set Center</label>
</form>
<google-map [center]='center' [zoom]='zoom' (mapClick)='onMapClick($event)' [markers]='markers' [heatmapData]='heatmapData'></google-map>